.header {
  padding: 91px 38px 91px 0px;
  padding-right: 38px;
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.header_menu {
  padding-right: 4px;
  position: relative;
  left: 2px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  letter-spacing: 1%;
}

.header__link_active {
  text-decoration: none;
}

.address {
  line-height: 24.3px;
  letter-spacing: 0%;
}

.header__address {
  padding-left: 148px;
}

.address a {
  line-height: 24.3px;
  letter-spacing: 1%;
  text-decoration: underline 0.1px;
  text-underline-offset: 3px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  width: 1100px;
  min-height: 757px;
  background-size: cover;
  background-position: center;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  color: white;
  letter-spacing: 30px;
  font-size: 100px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 134px;
  text-align: center;
  display: block;
}

.aligned-text_right {
  display: block;
  line-height: 90px;
  text-align: right;
  padding-top: 8px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 141px 0px 0px 28px;
}

.cover__description-text {
  padding-top: 12px;
  font-weight: normal;
  font-size: 22px;
  word-spacing: 20px;
}

.cover__description-text span {
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  border: solid 1px white;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

.lots {
  padding-top: 179px;
}

.lots__heading {
  padding-left: 65px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin-top: 27px;
  margin-left: 24px;
}

.lots__card-list-item {
  display: block;
  position: relative;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 51px;
  padding-bottom: 48px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  display: block;
  width: 254px;
  position: relative;
  text-decoration: underline 0.1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  line-height: 120%;
}

.card__text {
  display: block;
  width: 254px;
  position: relative;
  color: white;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 64px;
  text-decoration: underline 0.1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-content: center;
  gap: 50px;
  padding-top: 182px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:last-child {
  justify-content: space-around;
}

.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.about__logo-image {
  margin-top: 3px;
  display: block;
  width: 148px;
  height: 140px;
}

.about__title {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 102px;
  padding-bottom: 82px;
}

.about__text {
  display: block;
  position: relative;
  font-size: 20px;
  padding-top: 18px;
  padding-bottom: 6px;
  line-height: 24px;
  width: 690px;
  font-weight: normal;
  word-spacing: 0.5px;
}




.footer {
  display: flex;
  justify-content: space-between;
  padding: 174px 0px 88px 52px;
}

.footer__address {
  font-size: 18px;
  font-style: normal;
}

.footer__menu {
  padding-left: 37px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.footer__menu-link {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-right: 50px;
}

.footer__social-list-item {
  display: block;
  width: 48px;
  height: 48px;
}